.user {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 20% 20%;
	justify-items: start;
	align-items: center;
	gap: 20px;
	border-radius: var(--border-md);
	padding: 16px;
	box-shadow: var(--shadow-md);
}
