.role {
	text-align: center;
	text-transform: uppercase;
	font-size: var(--text-sm);
	padding: 4px 8px;
	border-radius: var(--radius-sm);
	background-color: var(--color-lightgray);
}
.student {
	background-color: var(--color-blue);
}
.teacher {
	background-color: var(--color-purple);
}
