.form {
	display: grid;
	justify-items: start;
	gap: 20px;
}
.wrapperOne {
	display: grid;
	grid-auto-flow: column;
	gap: 15px;
	width: 100%;
}
.select {
	justify-self: end;
}
.search {
	max-width: 280px;
}
