.form {
	display: grid;
	justify-items: start;
	gap: 20px;
}
.wrapperOne,
.wrapperTwo {
	display: grid;
	grid-auto-flow: column;
	justify-items: start;
	gap: 15px;
	width: 100%;
}

.select,
.btnCreate {
	justify-self: end;
}
.select > select {
	padding-right: 110px;
}
.search {
	max-width: 280px;
}
