@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

:root {
	--title-1: 3.2rem;
	--title-2: 2.4rem;
	--title-3: 2rem;
	--text-sm: 1.4rem;
}
body {
	font-family: "Poppins", sans-serif;
}
