.user {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 15% 15%;
	justify-items: start;
	align-items: center;
	gap: 20px;
	border-radius: var(--radius-md);
	padding: 16px;
	box-shadow: var(--shadow-md);
}
.role {
	justify-self: center;
}
.actions {
	display: flex;
	justify-self: end;
}
.userCard {
	grid-auto-flow: row;
	grid-template-columns: repeat(3, auto);
}
.userCard .userDisplay {
	grid-column: 1 / -1;
}
.userCard .role {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
