.label {
	display: flex;
	gap: 8px;
	position: relative;
	align-items: center;
	cursor: pointer;
}
.check {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}
.check:not(:checked) + .fakeCheck > .svgCheck {
	display: none;
}
.check:focus + .fakeCheck {
	box-shadow: var(--shadow-md);
}
.fakeCheck {
	width: 32px;
	height: 30px;
	box-shadow: var(--shadow-sm);
	border-radius: var(--radius-sm);
	display: grid;
	place-items: center;
}
.svgCheck {
	width: 24px;
	height: 24px;
}
